@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --teal: #35c6a6;
  --gold: #d4af37;
}

html, body, #__next { height: 100%; }

body {
  font-family: 'Open Sans', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #FBFFFC 0%, #FFFFFF 100%);
  color: #0f172a;
}
.font-serif { font-family: 'Merriweather', serif; }